---
layout: default_categories
titleAfter: by Nicholas St. Clair
meta: A blog about living abroad while working in the animation industry. Other topics include things related to animation, vfx, tech, and other random tidbits!
priority: 1.0
changefreq: weekly
permalink: /categories/
title: Categories
---
{% comment %}
#
#  Change date order by adding '| reversed'
#  To sort by title or other variables use {% assign sorted_posts = category[1] | sort: 'title' %}
#
{% endcomment %}
{% assign sorted_cats = site.categories | sort %}
{% for category in sorted_cats %}
{% assign sorted_posts = category[1] | title %}
<h2 id="{{category[0] | uri_escape | downcase }}">{{category[0] | slugize}}</H2>
<ul>
  {% for post in sorted_posts %}
 	<li><a href="{{ post.url | prepend: site.baseurl }}">{{post.title}}</a></li>
  {% endfor %}
</ul>
{% endfor %}

