---
layout: default_blog
titleAfter: by Nicholas St. Clair
meta: Created by Nicholas St. Clair. A blog about living abroad while working in the animation industry. Other topics include things related to animation, vfx, tech, and other random tidbits!
priority: 1.0
changefreq: weekly
---

<ul>
    {% for post in site.posts %}
    <li>
        <h2><a href="{{ post.url | prepend: site.baseurl }}">{{post.title}}</a></h2> 
        <h5>{{ post.date | date: "%A, %B %-d, %Y" }}</h5>
        <p>{{post.meta}}</p>
        <a href="https://twitter.com/nstclair13" class="twitter-follow-button" data-show-screen-name="false" data-show-count="true">Follow @nstclair13</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        <h5><a href="{{ post.url | prepend: site.baseurl }}#disqus_thread"></a></h5>
        {% include twitter_card.html %}
        <hr />
    </li>
    {% endfor %}
</ul>

